.outer-circle {
  position: fixed;
  width: 30px;
  height: 30px;
  left: 50px;
  top: 50px;
  border-radius: 50%;
  border: 1px solid white;
  transform: translate(-50%, -50%);
  z-index: 9999;
  mix-blend-mode: difference;
  pointer-events: none;
}

.inner-circle {
  position: fixed;
  left: 50px;
  top: 50px;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  z-index: 9999;
  pointer-events: none;
  mix-blend-mode: difference;
}

.link-grow {
  width: 45px;
  height: 45px;
  transition-duration: 0.2s;
}

@media screen and (max-width: 800px) {
  .outer-circle,
  .inner-circle {
    display: none;
  }
}
